.mapitem {
    position: relative;
    overflow: hidden;
    display: block;
    height: 100%;
    width: 100%;
}

.half {
    height: 50vh;
}

#sidebar {
    background-color: #2E3136;
    color: #f2f2f2;
    box-shadow: 3px 0 10px -5px black;
    z-index: 2;
}

.form-group {
    margin-bottom: 0;
}

hr {
    margin: 1rem 0;
    border-width: 2px;
    border-color: #24272B;
    border-left: 0;
    border-right: 0;
    width: 100%;
}

h1 {
    color: #f2f2f2;
    margin-bottom: 0;
    margin-top: 1rem;
}

#addressheader {
    color: #f2f2f2;
    margin-bottom: 0;
    margin-top: 1rem;
    padding-left: 1rem;
}

#title {
    text-align: center;
}

#content {
    background-color: #36393E; 
}

.searchresult {
    color: #9096A0;
    height: 6vh;
    line-height: 6vh;
    padding: 0 5%;
    margin: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.searchresult:hover {
    background-color: #282B30;
    color: #f2f2f2;
    font-weight: bold;
}

#content p {
    color: #f2f2f2;
    font-size: 150%;
}

#info {
    overflow-y: auto;
}

#content li {
    color: #f2f2f2;
    font-size: 150%;
}