<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="styles heet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>


<body>
  Input
  <div class="form-group">
    <label for="usr12">Address:</label>
    <input type="text" class="form-control" id="usr12">
  </div>

  Output
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Narrative</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td>Narrative Goes Here</td>
      </tr>
    </tbody>
  </table>
  </div>
</body>


</html>
